{% extends "base.html" %}

{% block content %}
<section>
	<p>The page you were looking for isn't here …</p>
	<p>You may have been interested in …</p>
	<ul>
		<li><a href="{{ extra.base_url}}">The homepage</a></li>
		<li>The <code>/ip/</code> or <code>/dig/</code> endpoints.</li>
		<li><a href="{{ extra.base_url }}/ua">The <code>/ua</code> endpoint wich just displays your user agent.</a></li>
		<li><a href="{{ extra.base_url }}/dns_resolver">The list of configured dns resolvers.</a></li>
	</ul>
</section>
{% endblock %}
