{% extends "base.html" %}
{% import "helpers.html" as helper %}
{% import "links.html" as links %}

{% block title %}AS{{ data.asn }}{% endblock %}
{% block og_title %}AS{{ data.asn }}{% endblock %}
{% block h1 %}<code>AS{{ data.asn }}</code>{% endblock %}

{% block og_path %}/?query=AS{{ data.asn }}{% endblock %}

{% block content %}

<section>
	<h2>Other Services</h2>
	{{ links::asn_links(asn=data.asn) }}
</section>

{% endblock %}

