{% import "helpers.html" as helper %}
<!DOCTYPE html>
<html lang="{{extra.language | default(value="en")}}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ extra[view].title | default(value="…") }}{% endblock %} | {{extra.site_name|default(value="echoip")}}</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta name="color-scheme" content="echoip-slatecave <https://codeberg.org/slatian/service.echoip-slatecave>">
	{% block robots_meta %}
	{% endblock robots_meta %}
	<!-- Open-Graph -->
	{% block metadata %}
	<meta name="description" property="og:description" content="{% block description %}{{ extra[view].description | default(value="One of the best echoip services") | escape_xml }}{% endblock %}" />
	<meta property="og:title" content="{% block og_title %}{{ extra[view].title | default(value="…") | escape_xml }}{% endblock %}" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="{% block og_url %}{{ extra.base_url }}{% block og_path %}{% endblock %}{% endblock %}">
	{% set og_image = extra.og_image | default(value="") %}
	{% set og_image = extra[view].og_image | default(value=og_image) %}
	{% if og_image %}<meta property="og:image" content="{{og_image}}">{%endif%}
	{% endblock %}
	<!-- Styling -->
	<meta name="color-scheme" content="light dark">
	{% if extra.stylesheet %}<link rel="stylesheet" href="{{extra.stylesheet}}" type="text/css" />{% endif %}
	{% if extra.favicon %}<link rel="icon" href="{{extra.favicon}}" type="{{extra.favicon_mimetype|default(value="image/png")}}" \>{% endif %}
	<!-- View: {{view}} -->
</head>
<body>
	<header>
		<nav>
			<a href="{{ extra.base_url }}" class="sitename">
				{%- if extra.display_icon -%}
				<img src="{{extra.display_icon}}" alt="">
				{%- endif -%}
				{{extra.site_name|default(value="echoip")}}</a>
			<form class="search" method="GET" action="{{ extra.base_url }}">
				<input type="search" name="query" autocomplete="on" maxlength="260"
					title="Search for an IP-Adress, Domain-Name, or ASN."
					placeholder="1.2.3.4, 2001::1:2:3:4, example.org, AS1234"
					value="{% if view == "dig" %}{{ data.query }}{% elif view == "ip" %}{{ data.result.address }}{% elif view == "asn"%}AS{{ data.asn }}{% endif %}"/>
				{% if dns_resolvers | length > 1 %}
				<select name="dns" title="DNS Resolver">
					{% for r in dns_resolvers %}
						<option value="{{ r.id }}" {% if r.id == dns_resolver_id %}selected{%endif%}>{{ r.name }}</option>
					{% endfor %}
				</select>
				{% endif %}
				<input type="submit" value="Query"/>
			</form>
		</nav>
	</header>
	<main>
		<h1>{% block h1 %}{{ extra[view].title | default(value="…") }}{% endblock %}</h1>
		{% block content %}
		<p>If you see this the templating is broken. Greetings from the base template.</p>
		{% endblock %}
	</main>
	<footer>
		<p>You can find the <a href="https://codeberg.org/slatian/service.echoip-slatecave">echoip-slatecave sourcecode on Codeberg</a>. If you found a bug or have an idea, feature, etc. please get in touch (I also accept E-Mails!).</p>
		<!-- If you made your own template, link to it here -->
		<p>This service works in its current form because nobody is abusing it, please keep that in mind. If you want to do frequent automated requests please host your own instance. Thank you for being awesome!</p>
	</footer>
</body>
</html>
