{% extends "base.html" %}

{% block title %}List of DNS Servers{% endblock %}
{% block h1 %}List of DNS Servers{% endblock %}

{% block content %}
<section>
	<p>This is a list of DNS resolvers that are configured with this echoip service.</p>
	<ul class="link-list">
		{% for c in dns_resolvers %}
		<li><a href="{{ extra.base_url }}/dns_resolver/{{c.id}}">{{c.name}}</a></li>
		{% endfor %}
	</ul>
	<p>The reasons for them being here range from them being popular, privacy friendly, interesting, don't take the a server listed here as endorsement.</p>
</section>
{% endblock %}
