{% extends "ip.html" %}
{% import "helpers.html" as helper %}

{% block robots_meta %}{# Allow indexing for landing page #}{% endblock %}

{% block title %}Your IP: {{ data.result.address }}{% endblock %}
{% block og_title %}What is my IP-Address?{% endblock %}
{% block h1 %}Your IPv{% if data.result.ip_info.is_v6_address %}6{% else %}4{% endif %}: <code>{{ data.result.address }}</code>{% endblock %}

{% block description %}
	Look up Your and others public IP-Addresses. - {{ data.result.address }}
{% endblock %}

{% block og_path %}/{% endblock %}

{% block other_ip_button %}
	{% if data.result.ip_info.is_v6_address %}
		{% if extra.v4_url %}
			<p class="button-paragraph"><a href="{{extra.v4_url}}">Look up your IPv4 address instead <small>(You'll get an error if you live in the future)</small></a></p>
		{% endif %}
	{% else %}
		{% if extra.v6_url %}
			<p class="button-paragraph"><a href="{{extra.v6_url}}">Look up your IPv6 address instead <small>(You'll get an error if you live in the past)</small></a></p>
		{% endif %}
	{% endif %}
{% endblock %}

{% block extra_content %}
<section>
	<h2>Your User Agent</h2>
	<p>The program you were using to download this page <a href="https://en.wikipedia.org/wiki/User_agent">identified itself</a> as <code>{{ data.user_agent }}</code></p>
	<p>While this doesn't have to do anything with your public IP-Address this might be useful information.</p>
	<p>You can use the <code><a href="{{ extra.base_url}}/ua">/ua</a></code> endpoint to fetch this information with any client.</p>
</section>
<section>
	<h2>Did you know?</h2>
	<p>If you share this site and the Link gets a preview. The IP-Address after the dash is the one of the machine that generated that preview.</p>
	<p>This service exports a <a href="{{ extra.base_url }}/dns_resolver">list of dns resolvers it supports</a>, with configuration.</p>
	<p>Every query that can output html can also output json or plain text using the <code>?format=json</code> or <code>?format=text</code> url parameters?</p>
</section>
{% endblock %}
